@model BirdsiteLive.Services.CachedStatistics
@{
    ViewData["Title"] = "About";
}

<div class="col-12 col-sm-12 col-md-10 col-lg-8 mx-auto">
    <h4>Node Saturation</h4>

    <p>
        <br/>
        This instance's saturation level is currently at @Model.Saturation%.<br/><br />
        
        This instance relies on the Twitter API - a tool developers can use to integrate Twitter with other applications - to fetch and send Tweets in a predictable and high-quality manner. However, the API has rate limits; this instance can only fetch so many Tweets and users per hour.<br /><br />

        As this instance's saturation level approaches and exceeds 100%, it will no longer update accounts every 15 minutes and reduce how often it fetches Tweets to stay under Twitter's limits. Essentially, the more saturated a node is, the less efficient it will be.<br /><br />

        When possible, you should <a href="https://github.com/NicolasConstant/BirdsiteLive/blob/master/INSTALLATION.md" target="_blank">start your own BirdsiteLIVE instance</a>. If you cannot, please be courteous and follow a limited number of accounts to keep the service available for everyone.
        <br/>
    </p>

    <h4>Why do accounts I follow on this node post followers-only?</h4>

    <p>
        
        The goal of this instance is <i>not</i> to make the Fediverse "Twitter 2"; it is to make the Fediverse easier to join by allowing people to follow those who will never move. This instance's admin may allow certain accounts to post in "unlisted" scope, allowing posts from these accounts to be replied to or re-posted publicly. Regardless of an account's status, it can still be followed.
    
        <br /><br />

        Accounts that post using the "unlisted" scope are as follows:
    </p>

    <ul>
        @Html.Raw(Model.UnlistedUsers)
    </ul>
</div>