@using BirdsiteLive.Common.Settings;
@model InstanceSettings
@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <br />
        This instance is a Twitter to ActivityPub bridge.<br />
        <a asp-controller="About" asp-action="Index">Learn more</a> or find a Twitter account below:
    </p>

    <form method="POST">
        <div class="form-group">
            <input type="text" class="form-control col-8 col-sm-8 col-md-6 col-lg-4 mx-auto" id="handle" name="handle" autocomplete="off" placeholder="Twitter Handle">
        </div>
        <button type="submit" class="btn btn-primary">Show</button>
    </form>

    <br /><br />

    @if( Model.MaxFollowsPerUser > 0)
    {
        <div class="alert alert-warning">
            In order to keep this service available to everyone, users are only permitted to follow <b>@Model.MaxFollowsPerUser</b> account(s). Any additional follows will be rejected. For more information, see our <a href="/About#saturation">about page</a>.
        </div>
    }

    @if (Model.InfoBanner.Length > 0)
    {
    <div class="alert alert-danger">
        @Html.Raw(Model.InfoBanner)
    </div>
    }

    @*@if (HtmlHelperExtensions.IsDebug())
        {
            <a class="nav-link text-dark" asp-area="" asp-controller="Debuging" asp-action="Index">Debug</a>
        }*@
</div>
